/* General */

* {
  font-family: 'Fraunces', serif;
}

body {
  background-image: linear-gradient(#D4E5A3, #AFD07C);
  display: grid;
  grid-template-columns: 1fr 3fr;
  min-height: 95vh;
}

/* Element Details */

#atomic-element-details {
  animation: bubble 20s linear forwards;
  background-image: url('https://www.jing.fm/clipimg/full/185-1853855_water-bubbles-transparent-png-transparent-background-bubbles-png.png');
  background-repeat: no-repeat;
  background-size: 300px;
  border: solid black 2px;
  margin: 1em;
  padding: 1em;
  max-height: 30em;
}

@keyframes bubble {
  0% {background-position: 0 300%}
  100% {background-position: 0 -300%}
}

/* Element Container */

#atomic-elements-container {
  background: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/19b27171-a173-48dc-b5dd-a069a0c57d9f/d5rx49p-52c2bc83-f2b7-4c44-952b-7b2c54e5cf47.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMTliMjcxNzEtYTE3My00OGRjLWI1ZGQtYTA2OWEwYzU3ZDlmXC9kNXJ4NDlwLTUyYzJiYzgzLWYyYjctNGM0NC05NTJiLTdiMmM1NGU1Y2Y0Ny5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.HEXjKK359P5z9Cam52eBroYrNAlaL_UydHGJHqjDl3s');
  background-size: 100%;
  background-position: top;
  border: solid black 2px;
  display: grid;
  grid-template-columns: repeat(8,1fr);
  margin: 1em;
  padding: 1em;
  max-height: 80vh;
  overflow-y: auto;
}

/* Element Card */

.atomic-element-card {
  border: solid black 4px;
  border-radius: 3px;
  background: linear-gradient(#F60002, #9D1E2B);
  cursor: help;
  height: 150px;
  margin: 0.5em;
  padding: 0.3em;
  text-align: center;
  transition: border-color 1s, color 0.3s;
}

.atomic-element-card:hover {
  border-color: white;
  color: white;
}

.atomic-element-card p {
  font-size: 2em;
  margin: none;
}

.atomic-element-card p:first-child {
  font-size: 0.8em;
}
